@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0px;
  font-family: "Nunito", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background: #7950f2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panels {
  width: 90vw;
  height: 60vh;

  display: flex;
  gap: 10px;
  align-items: center;
}
.panel {
  height: 100%;
  background-color: rgb(255, 254, 254);
  color: blueviolet;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  flex: 0.5;
  cursor: pointer;
  transition: flex 0.4s ease-in;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.panel h3 {
  font-size: 16px;
  opacity: 0;
  padding: 10px;
  color: rgb(203, 26, 226);
  transition: opacity 0.3s ease-in 0.3s;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
}
